<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light bg-light" th:each="user: ${user}">
    <a class="navbar-brand" href="#" th:text="*{user.email}" text="with role USER" >
        with role USER
    </a>
</nav>

<div class="card">
    <h5 class="card-header">User information-page</h5>
    <div class="card-body">
        <h5 class="card-title">About user </h5>
        <p class="card-text">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${user}">
                <td th:text="*{user.username}"/>
                <td th:text="*{user.email}"/>
                <td th:text="*{user.roles}"/>
            </tr>
            </tbody>
        </table>
        </p>
        <a href="/logout" class="btn btn-primary">Выйти</a>
    </div>
</div>
<br><br><br><br><br>

<h1>Мои данные: </h1>
<table>
    <colgroup>
        <col span="3" style="padding: 20px; width: 100px">
    </colgroup>
    <thead>
    <tr style="background:#db71c9">
        <th>Имя</th>
        <th>Пароль</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${user}">
        <td th:text="*{user.username}"/>
        <td th:text="*{user.password}"/>
        <td th:text="*{user.email}"/>
    </tr>
    </tbody>
</table>
<input type="button" style="color: #db71c9" value="Выйти" onclick="window.location.href = '/logout'"/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>